// Global CSS goes here
body 
    font-family: 'Open Sans', Arial, sans-serif
    font-size: 16px
    color: $text-color

img, video, canvas
    max-width: 100%

p
    margin: 0

a
    color: $base-color

    &:hover
        color: $darker-base
        text-decoration: none

.icon
    color: $base-color
